<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" />
        <br>
        {{ range .Errors }}
            <span id="username-errors" style="color: red;">{{.}}</span>
        <br>
        {{ end }}

        <button type="submit">Sign up</button>
    </form>
</body>
</html>
